* {
    font-family: 'Maven Pro', sans-serif;
    margin: 0;
    padding: 0;
}
  
.proz_body {
    background-color: #59378D;
    height: 100vh;
    color: white;
}
  
header {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 16px;
}
  
/*nav {
     background-color: #EF7D19; 
} */
  
a {
    text-decoration: none;
}
  
a:hover {
  color: orange;
  transition: all 0.4s ease-in-out;
}
  
li:hover {
    scale: 1.1;
}
  
  
ul {
    display: flex;
    height: 100%;
    align-items: center;
    display: inline-block;
}
  
nav ul li {
    padding-left: 16px;
    list-style-type: none;
}
  
.proz_main {
    height: 100%;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    padding: 0 250px;
}
  
.proz_main_tittles {
    align-self: flex-start; 
    padding-left: 160px; 
    /* Na minha tela não pude deixar o padding-left em 10px, pois o título ficava muito torto pra esquerda em relação ao quadrado laranja, não sei por que */
}
  
.proz_main_tittle {
    font-size: 48px;  
}
  
.proz_main_subtittle {
    font-size: 20px;
}
  
.proz_description_section {
    display: flex;
    gap: 40px;
    margin-top: 30px;
}
  
.proz_description_services_one, .proz_description_services_two {
    background: url(img/bg_laranja.jpg);
    border-radius: 12px;
    max-width: 300px;
    height: 200px;
    padding: 20px;
 }
  
.proz_description_services_tittle {
    margin-bottom: 16px;
}
  
/*.z_index {
    background-color: wheat;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 200px;
    top: 150px;
    border-radius: 12px;
    z-index: 1;
    box-shadow: gray 0px 5px 15px;
}
  
.z_index2 {
    background-color: orange;
    width: 100px;
    height: 100px;
    position: absolute;
    right: 190px;
    top: 140px;
    border-radius: 12px;
    z-index: 2;
    box-shadow: gray 0px 5px 15px;
    cursor: pointer;
}
  
.z_index2:hover {
    scale: 1.1;
    background-color: blueviolet;
    transition: all 0.4s ease-in-out;
}  */